@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-end-rgb: 30, 136, 229; /* Ciemny #303959 */
  --background-start-rgb: 227, 242, 253; /* Jasny #ECEFF1 */
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 236, 239, 241;
    --background-start-rgb: 48, 57, 89;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


